<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <title>Peck</title>
  <%= favicon_link_tag '/feather.ico' %>
</head>
<body>
  <table width="400" bordercolor="gray" align="center">
    <tr>
      <td><font face="tahoma" size=6><center><%= @simple_event.title %></center></font></td>
    </tr>
    <tr>
      <td><center><img src="http://loki.peckapp.com:3500<%=@simple_event.image.url%>" height="380" width="380"></center></td>
    </tr>
    <tr>
      <td><font face="tahoma"><i><center><%= "#{@simple_event.start_date.in_time_zone(@time_zone).strftime('%B %e, %l:%M %p')} - #{@simple_event.end_date.in_time_zone(@time_zone).strftime('%B %e, %l:%M %p %Z')}" %></center></i></font></td>
    </tr>
    <tr>
      <td><font size="4" face="tahoma"><center><%= @simple_event.event_description %></center></font></td>
    </tr>
    <tr>
      <td><center><i><font size="4.3" face="tahoma" color="navy">To attend, like, or comment on this event, please use a mobile device with Peck.</font></i></center></td>
    </tr>
      <tr>
        <td><center><img src="http://loki.peckapp.com:3500/images/bird.png" height="200" width="200"></center></td>
      </tr>
    </table>
</body>
</html>
